@media (max-width: 1439px) {
    :root {
        --font-size-xs: 0.75rem;
        --font-size-s: 0.9rem;
        --font-size-m: 1.25rem;
        --font-size-l: 1.75rem;
        --font-size-title: 1.85rem;
    }
}
@media (min-width: 1024px) {
    @media (min-height: 800px) {
        :root {
            --font-size-xs: 0.725rem;
            --font-size-s: 0.85rem;
            --font-size-m: 1.2rem;
            --font-size-l: 1.6rem;
            --font-size-title: 1.8rem;
        }

        #hero .container {
            flex-direction: column;
            justify-content: space-evenly;
        }
        .hero-title {
            justify-content: flex-start;
            align-items: center;
            text-align: center;
        }
        .hero-image {
            position: static;
            height: 62%;
            border-radius: 24px;
            padding: 24px 24px 0px 24px;
            background: var(--color-background-light);
        }
    }
}
@media (max-width: 1023px) {
    :root {
        --font-size-xs: 0.7rem;
        --font-size-s: 0.8rem;
        --font-size-m: 1.1rem;
        --font-size-l: 1.4rem;
        --font-size-title: 1.5rem;
    }

    #hero .container {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .hero-title {
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    .hero-image {
        position: static;
        height: 62%;
        border-radius: 24px;
        padding: 24px 24px 0px 24px;
        background: var(--color-background-light);
    }
    .hero-know-more-btn {
        padding: 8px 14px;
    }

    .contact-icon {
        width: 2.5rem;
    }
}
@media (max-width: 767px) {
    :root {
        --font-size-xs: 0.65rem;
        --font-size-s: 0.725rem;
        --font-size-m: 0.9rem;
        --font-size-l: 1.25rem;
        --font-size-title: 1.3rem;
    }

    a,
    .scroll-to-top-btn {
        cursor: default;
    }
    .scroll-to-top-btn {
        right: 10px;
        bottom: 10px;
        width: 2.5rem;
    }

    .container {
        padding: 30px;
        gap: 30px;
    }

    .hero-title span {
        display: inline-block;
    }
    .hero-image {
        height: 57%;
    }

    .about-info-container {
        grid-template-columns: 1fr;
    }

    .project-image-link {
        width: 21rem;
    }
    .project-image {
        width: 21rem;
    }

    .contact-icon {
        width: 2.2rem;
    }

    .copyright {
        padding: 30px 15px 0px 15px;
    }
}
@media (max-width: 424px) {
    :root {
        --font-size-xs: 0.575rem;
        --font-size-s: 0.65rem;
        --font-size-m: 0.8rem;
        --font-size-l: 1.125rem;
        --font-size-title: 1.175rem;
    }

    .hero-image {
        height: 51%;
    }
    .hero-know-more-btn {
        padding: 8px 12px;
    }

    .project-image-link {
        width: 18rem;
    }
    .project-image {
        width: 18rem;
    }

    .contact-icon {
        width: 2rem;
    }
}
@media (max-width: 374px) {
    :root {
        --font-size-xs: 0.525rem;
        --font-size-s: 0.6rem;
        --font-size-m: 0.75rem;
        --font-size-l: 1.025rem;
        --font-size-title: 1.075rem;
    }

    .project-image-link {
        width: 16rem;
    }
    .project-image {
        width: 16rem;
    }
    .contact-icon {
        width: 1.8rem;
    }
}

@media (hover: hover) {
    .hover-highlighted:hover {
        color: var(--color-text);
    }
    .scroll-to-top-btn:not(.hidden):hover {
        opacity: 0.75;
    }
    .hero-know-more-btn:hover {
        color: transparent;
        background-image: linear-gradient(
            180deg,
            var(--color-text) 0%,
            var(--color-text-light) 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        border-color: transparent;
    }
    .hero-know-more-btn:hover::before {
        transform: scaleY(1);
    }
    .hero-know-more-container:has(.hero-know-more-btn:hover)::before {
        transform: scaleX(1);
    }
    .about-cv-btn:hover {
        background: var(--color-primary);
    }
    .project-preview-btn:hover,
    .project-source-btn:hover,
    .project-image-link:hover ~ .project-btns .project-preview-btn,
    .project-image-link:hover .project-tools,
    .project-title-link:hover ~ .project-btns .project-preview-btn,
    .project-title-link:hover ~ .project-image-link .project-tools,
    .project-image-link:has(~ .project-btns .project-preview-btn:hover)
        .project-tools,
    .project-image-link:has(~ .project-btns .project-source-btn:hover)
        .project-tools {
        background: var(--color-primary);
    }
    .project-image-link:hover .project-image,
    .project-title-link:hover ~ .project-image-link .project-image,
    .project-image-link:has(~ .project-btns .project-preview-btn:hover)
        .project-image,
    .project-image-link:has(~ .project-btns .project-source-btn:hover)
        .project-image {
        opacity: 1;
    }
    .project-title-link:hover,
    .project-title-link:has(~ .project-btns .project-preview-btn:hover),
    .project-title-link:has(~ .project-btns .project-source-btn:hover),
    .project-title-link:has(~ .project-image-link:hover) {
        color: var(--color-primary-light);
    }
    .contact-icon:hover {
        color: var(--color-text);
    }
}
